@font-face {
    font-family: 'LiberationSerif';
    font-style: normal;
    font-weight: normal;
    src: url('LiberationSerif-Regular.ttf')
}

.ua{
}
.ru{
}

.btnBlock {
    display: block;
    text-align: right;
    max-height: 90px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.fav_on{
    content:url(fav_on.png);
    border: 0px solid #000000;
    padding: 1px 1px 1px 1px;
    border-radius: 3px;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    box-shadow: 0px 0px 0px 0px #202020
}
.fav_off{
    content:url(fav_off.png);
    border: 0px solid #000000;
    padding: 1px 1px 1px 1px;
    border-radius: 3px;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    box-shadow: 0px 0px 0px 0px #202020
}
p{
     margin:0px;
}

span.search {
    background-color : yellow
}

.inner {
    max-width: 70px;
    
    text-align: center;
    margin: auto;
    display: inline-block;
}
.outer {
    display: block;
    text-align: center;
    max-height: 90px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.innerText {
    text-align: center;
    margin: auto;
    display: inline-block;
}
.outerText {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    transition: opacity 0.2s ease-in;
    opacity: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    background:none;
    color: black;
    background:none;
    text-align:justify;
    font-family:Helvetica Neue;
    font-size: 12pt}
h1 {
    text-align:justify;
    background:none;
    color: #DF5A31;
    font-family:Helvetica Neue;
    font-size: 12pt}
a{
    text-align:justify;
    background:none;
    font-family:Helvetica Neue;
    font-weight: bold;
    color: #ffffaa;
    text-decoration:none;
    padding-left: 5px;
}
img{
    padding: 1px 1px 1px 1px;
    border-radius: 3px;
    max-width: 70px;
    max-height: 60px;
    box-shadow: 0px 0px 10px 0px #202020
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}
.openFile{
    text-decoration: underline;
    font-weight: bold;
    color:blue
}
.scrollTo{
    text-decoration: underline;
    font-weight: bold;
    color:blue
}






